<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Configurações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Night Mode</ion-label>
      <ion-toggle [(ngModel)]="nigthMode" (ionChange)="changeTheme()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-button full (click)="locate()">
        Localização
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button full (click)="locate()">
        Tutorial
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Versão Atual: </ion-label>
    </ion-item>
  </ion-list>

  <p>{{geoData}}</p>

</ion-content>