<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Filtrar Produtos" (ionInput)="filterProducts($event)" [(ngModel)]="searchText">
  </ion-searchbar>
</ion-header>

<ion-content ion-padding>

  <ion-list>
    <ion-item-sliding *ngFor="let pr of produtos | async">
      <ion-item item-left>
        <div class="item-prod" (click)="editProduct(pr.cd_produto)">
          <ion-grid>
            <ion-row>
              <ion-col style="font-weight: bold;">{{pr.cd_produto}} - {{pr.ds_produto}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Marca: {{pr.ds_marca}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Multiplo: {{pr.qt_multiplo}}</ion-col>
              <ion-col>Qtde Emb.: {{pr.qt_produtoembalagem}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Estoque: {{pr.qt_estoque_atual}}</ion-col>
              <ion-col style="font-weight: bold;">Vl. Unint: R${{pr.vl_bruto_produto}}</ion-col>
            </ion-row>            
          </ion-grid>          
        </div>
        <div class="item-photo" item-right>
          <button ion-button full item-center large (click)="buscarPhoto()" style="height:35px">
            <ion-icon name="camera" ios="ios-camera" md="md-camera"></ion-icon>
          </button>
        </div>
      </ion-item>

    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>AQUI VAI OPÇÕES TABELA ETC</ion-title>
  </ion-toolbar>
</ion-footer>