<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Vendas
      </ion-title>
    </ion-toolbar>
    <ion-searchbar placeholder="Filtrar Vendas" (ionInput)="filterProducts($event)" [(ngModel)]="searchText"></ion-searchbar>      
  </ion-header>

<ion-content>



</ion-content>