<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
        <div class="login">
          <!-- <ion-item (click)="goPage('login')"> -->
            <ion-item>
            <ion-label>Usuário Logado</ion-label>
            <ion-icon slot="start" name="contact"></ion-icon>
          </ion-item>
        </div>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-list>
            <div class="principal">
              <ion-item (click)="goPage('home')">
                <!-- <ion-button menuClose ion-item (click)="nav.setRoot(pagesLoja.homePage)"> -->
                <ion-label>Principal</ion-label>
                <ion-icon slot="start" name="podium"></ion-icon>
                <!-- </ion-button> -->
              </ion-item>
            </div>
            <div class="Vendas">
              <ion-item (click)="goPage('vendas')">
                <!-- <ion-button menuClose ion-item (click)="nav.setRoot(pagesLoja.vendaListPage)"> -->
                <ion-label>Vendas</ion-label>
                <ion-icon slot="start" name="cart"></ion-icon>
                <!-- </ion-button> -->
              </ion-item>
            </div>
            <div class="transmissao">
              <ion-item (click)="goPage('transmissao')">
                <!-- <button menuClose ion-item (click)="nav.setRoot(pagesLoja.transmissaoPage)"> -->
                <ion-label>Transmissão</ion-label>
                <ion-icon slot="start" name="cloud-upload"></ion-icon>
                <!-- </button> -->
              </ion-item>
            </div>
            </ion-list>

            <ion-list>

            <div class="separador"></div>

            <div class="consultas">
              <ion-item>
                <ion-label style="margin-top: 5px; margin-left: 10px; margin-bottom: 5px;">Consultas</ion-label>
              </ion-item>
              <ion-item (click)="goPage('clientes')">
                <ion-label>Clientes</ion-label>
                <ion-icon slot="start" name="people"></ion-icon>
              </ion-item>
              <ion-item (click)="goPage('produtos')">
                <ion-label>Produtos</ion-label>
                <ion-icon slot="start" name="cube"></ion-icon>
              </ion-item>
            </div>
            </ion-list>

            <ion-list>
            <div class="separador"></div>
            <div class="configuracoes">
              <ion-item (click)="goPage('portifolio')">
                <ion-label>Portifólio</ion-label>
                <ion-icon slot="start" name="images"></ion-icon>
              </ion-item>              
              <ion-item (click)="goPage('configuracoes')">
                <ion-label>Configurações</ion-label>
                <ion-icon slot="start" name="settings"></ion-icon>
              </ion-item>

            </div>
            </ion-list>

      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
</ion-app>
