<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
  <ion-card-header>
    Vendas
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>Orçamentos</ion-col>
        <ion-col>{{this.vQtVendas}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Semana</ion-col>
        <ion-col>{{this.vVlVendidoSemana}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Mês</ion-col>
        <ion-col>{{this.vVlVendidoMes}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    Metas
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>Objetivo</ion-col>
        <ion-col>Atingido</ion-col>
        <ion-col>%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{this.vVlObjetivo}}</ion-col>
        <ion-col>{{this.vVlAntigido}}</ion-col>
        <ion-col>{{this.vPcAtingido}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    Novidades
  </ion-card-header>
  <ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col>Novidade 1</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Novidade 2</ion-col>
    </ion-row>
  </ion-grid>
  </ion-card-content>
</ion-card>

</ion-content>
