<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Filtrar Clientes" (ionInput)="filterProducts($event)" [(ngModel)]="searchText">
  </ion-searchbar>
</ion-header>

<ion-content ion-padding>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>AQUI VAI FILTROS CIDADES ETC</ion-title>
  </ion-toolbar>
</ion-footer>