.transmissao{
    ion-fab{
        ion-fab-button{
            background-color: transparent;
        }
    }

}

.enviaRecebe{
        margin-top: 20%;
        margin-bottom: 50%;
        margin-left: 20%;
        margin-right: 20%;
        width: 150px;
        height: 150px;
        img {
            width: 100%;
            height: auto;   
        }
}