<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Transmissão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="enviaRecebe">
    <form>
        <img src="../../../assets/images/transmissao.png">
    </form>
  </div>

  <div class="transmissao">
    <ion-fab vertical="center" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-fab-button> 
    </ion-fab>
  </div>

</ion-content>